/* float : 요소를 띄운다
    1) left : 왼쪽 방향으로 띄운다
    2) right : 오른쪽 방향으로 띄운다
    
    float 다음에 오는 요소에 대한 처리가 필요함(float 해제
    clear:left  clear: right, clear: both
    
    1) float다음 요소에 clear: both
    2) overflow : hidden or auto (float3.html 참조)
    3) 가상요소 이용(float5.html 참조 - 추천
    

 */

.picture {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.picture img {
  vertical-align: top;
}

p {
  /* border: 4px solid black; */
  /* 시작점 - picture와 동일선상
  내부에 이미지 있어도 인식 못하고 합쳐서 전체크기 잡음
  */
}
